#drop_zone {
  border: 2px dashed #bbb;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  font: 20pt bold 'Vollkorn';
  color: #bbb;
  &.over{
    background-color: rgba(0, 208, 21, 0.22);
  }
}
.excel-name{
  text-align: center;
  font-weight: bold;
}
.negative{
  background-color: rgba(204, 142, 136, 0.45);
}